/* .grid-container {
  display: flexbox;
  background-color: #7a1f8a;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-top: 10%;
}

.grid-item {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 20px;
  text-align: center;
  align-items: center;
}

.balance {
  margin: auto;
  font-size: 30px;
  margin-left: 150px;
} */
